// out: ../css/media.css


@media (max-width: 1200px) {
    .wrapper {
        padding: 0 20px;
    }

    .about-us {
        padding: 30px 0;
        
        .wrapper {
            .about-us-content {
                .left-bar {
                    display: block;
                    text-align: center;
                    width: 100%;

                    .about-us-heading {
                        padding-left: 15%;

                        h2 {
                            font-size: 45px;
                            line-height: 50px;
                        }
                    }

                    .about-us-text {
                        p {
                            font-size: 30px;
                            line-height: 56px;
                        }
                    }
                }

                .right-bar {
                    width: 100%;

                    .slider {
                        .slide {
                            img {
                                width: 100%;
                            }

                            .text {
                                padding: 20px 60px;

                                p {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .categories {
        .categories-content {
            .block {
                width: 45%;

                .image {
                    height: 350px;
                }

                .title {
                    h2 {
                        font-size: 35px;
                    }
                }
            }
        }
    }

    .products {
        .new-content {
            .down-bar {
                .block {
                    width: 45%;
                    margin-bottom: 30px;

                    .image {
                        img {
                            width: 100%;
                        }
                    }

                    &:nth-child(3) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    header {
        .top-header {
            .header-content {
                .left-bar {
                    img {
                        width: 95%;
                    }

                    .heading {
                        h1 {
                            font-size: 20px;
                        }
                    }
                }

                .right-bar {
                    .top-bar-header {
                        .contact-email {
                            display: none;
                        }

                        ul {
                            display: none;
                        }    
                                            
                        .icons {
                            display: inline-block;
                            float: right;
                        }
                    }

                    .down-bar {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        .top-header {
            .header-content {
                .left-bar {
                    .heading {
                        display: none;
                    }
                }

                .right-bar {
                    .top-bar-header {                                      
                        .icons {
                            display: inline-block;
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    header {
        .top-header {
            .header-content {
                .left-bar {
                    .logo {
                        img {
                            width: 200px;
                        }
                    }
                }

                .right-bar {
                    .top-bar-header {                                      
                        .icons {
                            display: inline-block;
                            padding-top: 5px;
                            
                            span {
                                font-size: 45px;
                            }
                        }
                    }
                }
            }
        }

        .down-header {
            display: none;
        }
    }

    .about-us {
        .about-us-content {
            .right-bar {
                .slider {
                    .slide {
                        .text {
                            top: 25%;
                            padding: 10px;
                            
                            p {
                                font-size: 30px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .categories {
        .categories-content {
            justify-content: center;

            .block {
                width: 100%;
                padding-left: 0;

                .image {
                    height: 150px;
                }
            }
        }
    }

    .how-we-work {
        .how-content {
            .blocks {
                justify-content: center;

                .block {
                    width: 40%;

                    &:nth-child(2) {
                        margin-left: 40px;
                    }

                    .icon {
                        margin-left: 37%;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .top-bar {
        h2 {
            font-size: 25px;
            padding-left: 0;
            text-align: start;
            width: 55%;
            margin-top: 0;
        }

        button {
            margin-top: 30px;
        }
    }
}

@media (max-width: 700px) {
    .about-us {
        .about-us-content {
            .right-bar {
                .slider {
                    .slide {
                        .text {
                            padding: 5px !important;
                            top: 37%;

                            p {
                                font-size: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .products {
        .new-content {
            .down-bar {
                .block {
                    width: 45%;
                    margin-bottom: 30px;

                    .image {
                        img {
                            width: 100%;
                        }
                    }

                    .title {
                        padding: 0 10px 0 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        .top-header {
            .header-content {
                .right-bar {
                    .icons {
                        .icon {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .products {
        .new-content {
            .down-bar {
                .block {
                    width: 100%;
                    margin-left: 0;
                    display: block;

                    .image {
                        img {
                            height: 200px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .how-we-work {
        .how-content {
            .blocks {
                .block {
                    width: 90%;
                    padding-bottom: 30px;

                    &:nth-child(2) {
                        margin-left: 0;
                    }

                    .icon {
                        margin-left: 40%;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .about-us {
        .about-us-content {
            .right-bar {
                .slider {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .top-bar {
        padding: 0 30px

        h2 {
            display: block;
            margin-right: 0;
            text-align: center;
            width: 100%;
        }

        button {
            margin-right: 5%;
            display: block;
            padding: 10px 0;
            width: 90%;
        }
    }

    .about-us {
        .about-us-content {
            .left-bar {
                .about-us-heading {
                    h2 {
                        font-size: 30px !important;
                    }
                }

                .about-us-text {
                    p {
                        font-size: 18px !important;
                        line-height: 35px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 300px) {
    header {
        .top-header {
            .header-content {
                .left-bar {
                    .logo {
                        img {
                            width: 120px;
                        }
                    }
                }

                .right-bar {
                    .top-bar-header {
                        .icons {
                            span {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    .about-us {
        .about-us-content {
            .left-bar {
                .about-us-heading {
                    h2 {
                        font-size: 20px !important;
                        line-height: 25px !important;
                    }
                }

                .about-us-text {
                    p {
                        font-size: 16px !important;
                        line-height: 35px !important;
                    }
                }
            }
        }
    }

    .how-we-work {
        .how-content {
            .blocks {
                .block {
                    .icon {
                        margin-left: 34%;
                    }
                }
            }
        }
    }
} 

@media (max-width: 250px) {
    .top-bar {
        button {
            margin-right: 0;
            margin-left: 40%;
        }
    }

    .how-we-work {
        .how-content {
            .blocks {
                .block {
                    .icon {
                        margin-left: 30%;
                    }
                }
            }
        }
    }
}

@media (max-width: 250px) {
    .how-we-work {
        .how-content {
            .blocks {
                .block {
                    .icon {
                        margin-left: 25%;
                    }
                }
            }
        }
    }
}

// slick media

@media (max-width: 1200px) {
    .slick-arrow {
        padding: 50px 15px;
    }

    .slick-dots {
        left: 35%;

        li {
            button {
                padding: 10% 15%;
                margin-left: 50px;
            }
        }
    }
}

@media (max-width: 900px) {
    .slick-dots {
        left: 28%;
    }
}

@media (max-width: 800px) {
    .slick-dots {

        li {
            display: none;
        }
    }
}

@media (max-width: 700px) {
    .slick-arrow {
        padding: 10px 15px;
        top: 40%;
    }
}

@media (max-width: 500px) {
    .slick-arrow {
        padding: 5px 10px; 
        font-size: 20px;
    }
}