// out: ../css/media.css


@media (max-width: 1200px) {
    .wrapper {
        padding: 0 20px;
    }

    .about-us {
        padding: 30px 0;
        
        .wrapper {
            .about-us-content {
                .left-bar {
                    display: block;
                    text-align: center;
                    width: 100%;

                    .about-us-heading {
                        padding-left: 15%;

                        h2 {
                            font-size: 45px;
                            line-height: 50px;
                        }
                    }

                    .about-us-text {
                        p {
                            font-size: 30px;
                            line-height: 56px;
                        }
                    }
                }

                .right-bar {
                    width: 100%;

                    .slider {
                        .slide {
                            img {
                                width: 100%;
                            }

                            .text {
                                padding: 20px 60px;

                                p {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .categories {
        .categories-content {
            .block {
                width: 45%;

                .image {
                    height: 350px;
                }

                .title {
                    h2 {
                        font-size: 35px;
                    }
                }
            }
        }
    }

    .products {
        .new-content {
            .down-bar {
                .block {
                    width: 45%;
                    margin-bottom: 30px;

                    .image {
                        height: 200px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:nth-child(3) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .subscribe {
        .subscribe-content {
            .left-bar {
                width: 30%;
            }

            .right-bar {
                width: 65%;
                box-sizing: border-box;
            }
        }
    }

    .slick-arrow {
        padding: 50px 15px;
    }

    .slick-dots {
        left: 35%;

        li {
            button {
                padding: 10% 15%;
                margin-left: 50px;
            }
        }
    }
}

@media (max-width: 1100px) {
    header {
        .top-header {
            .header-content {
                .left-bar {
                    .heading {
                        h1 {
                            font-size: 20px;
                        }
                    }
                }

                .right-bar {
                    .top-bar-header {
                        .contact-email {
                            display: none;
                        }

                        ul {
                            display: none;
                        }    
                                            
                        .icons {
                            display: inline-block;
                            float: right;
                        }
                    }

                    .down-bar {
                        display: none;
                    }
                }
            }
        }
    }

    .subscribe {
        .subscribe-content {
            padding: 0;

            .left-bar {
                width: max-content;
            }

            .right-bar {
                width: 100%;

                .email {
                    input {
                        width: 80%;
                    }
                }
            }
        }
    }

    .footer {
        .footer-content {
            .top-footer {
                .left-bar {
                    img {
                        width: 200px;
                    }

                    h2 {
                        font-size: 18px;
                    }
                }
            }

            .down-footer {

            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        .top-header {
            .header-content {
                .left-bar {
                    .heading {
                        display: none;
                    }
                }

                .right-bar {
                    .top-bar-header {                                      
                        .icons {
                            display: inline-block;
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .footer-content {
            .down-footer {
                .email {
                    padding-left: 15%;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    header {
        .top-header {
            .header-content {
                .left-bar {
                    .logo {
                        img {
                            width: 200px;
                        }
                    }
                }

                .right-bar {
                    .top-bar-header {                                      
                        .icons {
                            display: inline-block;
                            padding-top: 5px;
                            
                            span {
                                font-size: 45px;
                            }
                        }
                    }
                }
            }
        }

        .down-header {
            display: none;
        }
    }

    .about-us {
        .about-us-content {
            .right-bar {
                .slider {
                    .slide {
                        .text {
                            top: 25%;
                            padding: 10px;
                            
                            p {
                                font-size: 30px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .categories {
        .categories-content {
            justify-content: center;

            .block {
                width: 100%;
                padding-left: 0;

                .image {
                    height: 150px;
                }
            }
        }
    }

    .how-we-work {
        .how-content {
            .blocks {
                justify-content: center;

                .block {
                    width: 40%;

                    &:nth-child(2) {
                        margin-left: 40px;
                    }

                    .icon {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .slick-dots {
        left: 28%;
    }

    .footer {
        .footer-content {
            .top-footer {
                .left-bar {
                    img {
                        width: 100px;
                    }

                    h2 {
                        font-size: 9px;
                        width: 60%;
                    }
                }

                .right-bar {
                    width: 70%;

                    ul {
                        li {
                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .down-footer {
                .email {
                    padding-left: 8%;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .slick-dots {
        li {
            display: none;
        }
    }

    .footer {
        .footer-content {
            .top-footer {
                overflow: auto;

                .left-bar {
                    display: block;
                    width: 30%;
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }

                    h2 {
                        display: none;
                    }
                }

                .right-bar {
                    display: block;
                    width: 100%;

                    ul {
                        padding-top: 30px;
                        margin: 0 auto;

                        li {
                            padding-left: 5%;

                            &:first-child {
                                padding-left: 20%;
                            }

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .top-bar {
        h2 {
            font-size: 120%;
            padding-left: 0;
            padding-left: 5%;
            text-align: start;
            margin: 0 auto;
            width: 55%;
            margin-top: 0;
        }
    }

    .footer {
        padding: 20px 0;

        .footer-content {
            .down-footer {
                .contacts {
                    display: block;
                    text-align: center;

                    .icon {
                        span {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .email {
                    display: block;
                    padding: 20px 0;
                    text-align: center;
                }

                .cards {
                    width: 100%;
                    display: block;
                    text-align: center;

                    img {
                        width: 100px;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .about-us {
        .about-us-content {
            .right-bar {
                .slider {
                    .slide {
                        .text {
                            padding: 5px !important;
                            top: 37%;

                            p {
                                font-size: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .products {
        .new-content {
            .down-bar {
                .block {
                    width: 45%;
                    margin-bottom: 30px;

                    .image {
                        img {
                            width: 100%;
                        }
                    }

                    .title {
                        padding: 0 10px 0 10px;
                    }
                }
            }
        }
    }

    .subscribe {
        .subscribe-content {
            .right-bar {
                width: 100%;
                
                .title {
                    h2 {
                        font-size: 18px;
                    }
                }

                .text {
                    p {
                        font-size: 14px;
                    }
                }

                .email {
                    input {
                        width: 60%;
                    }

                    button {
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .slick-arrow {
        padding: 10px 15px;
    }
}

@media (max-width: 600px) {
    header {
        .top-header {
            .header-content {
                .right-bar {
                    .icons {
                        .icon {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .products {
        .new-content {
            .down-bar {
                .block {
                    width: 100%;
                    margin-left: 0;
                    display: block;

                    .image {
                        img {
                            height: 200px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .how-we-work {
        .how-content {
            .blocks {
                .block {
                    width: 90%;
                    padding-bottom: 30px;

                    &:nth-child(2) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .footer {
        .footer-content {
            .top-footer {
                .right-bar {
                    ul {
                        display: block;
                        text-align: center;

                        li {
                            padding-left: 0;

                            &:first-child {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .subscribe {
        .subscribe-content {
            .left-bar {
                width: 100%;
                
                img {
                    padding: 0 16%;
                    width: 70%;
                }
            }

            .title {
                h2 {
                    font-size: 20px;
                }
            }

            .right-bar {
                width: 100%;

                .email {
                    input {
                        width: 80%;
                    }

                    button {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .slick-arrow {
        padding: 10px 15px;
        top: 40%;
    }

    .footer {
        .footer-content {
            .top-footer {
                .left-bar {
                    width: 200px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .top-bar {
        padding: 0 30px 50px;

        h2 {
            display: block;
            margin-right: 0;
            text-align: center;
            width: 100%;
            padding-bottom: 20px;
        }

        button {
            margin: 0 auto;
            display: block;
            padding: 10px 0;
            width: 90%;
        }
    }

    .no-btn {
        padding: 0 !important;
    }

    .about-us {
        .about-us-content {
            .right-bar {
                .slider {
                    display: none;
                }
            }
        }
    }

    .slick-arrow {
        padding: 5px 10px; 
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .about-us {
        .about-us-content {
            .left-bar {
                .about-us-heading {
                    h2 {
                        font-size: 30px !important;
                    }
                }

                .about-us-text {
                    p {
                        font-size: 18px !important;
                        line-height: 35px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 300px) {
    .top-bar {
        h2 {
            font-size: 18px;
            line-height: 30px;
        }

        button {
            width: 90%;
        }
    }

    header {
        .top-header {
            .header-content {
                .left-bar {
                    .logo {
                        img {
                            width: 120px;
                        }
                    }
                }

                .right-bar {
                    .top-bar-header {
                        .icons {
                            span {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    .about-us {
        .about-us-content {
            .left-bar {
                .about-us-heading {
                    h2 {
                        font-size: 20px !important;
                        line-height: 25px !important;
                    }
                }

                .about-us-text {
                    p {
                        font-size: 16px !important;
                        line-height: 35px !important;
                    }
                }
            }
        }
    }

    .products {
        .new-content {
            .down-bar {
                .block {
                    .image {
                        height: 150px;

                        img {
                            height: 150px;
                        }
                    }

                    .title {
                        padding: 10px;
                    }
                }
            }
        }
    }

    .footer {
        .footer-content {
            .down-footer {
                .contacts {
                    .icon {
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;

                        span {
                            padding: 0;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
} 

@media (max-width: 250px) {
    .products {
        .new-content {
            .down-bar {
                .block {
                    .block-footer {
                        .left-bar {
                            .to-basket {
                                padding: 5px;

                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .subscribe {
        .subscribe-content {
            .title {
                h2 {
                    font-size: 18px !important;
                    line-height: 0px;
                }
            }

            .email {
                input {
                    width: 70% !important;
                }
            }
        }
    }

    .footer {
        .footer-content {
            .top-footer {
                overflow: hidden;

                .left-bar {
                    width: 200px;
                    text-align: center;

                    img {
                        width: 50%;
                        padding-right: 20%;
                    }
                }

                .right-bar {
                    ul {
                        li {
                            a {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}