// out: ../css/style.css

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
h1, h2, h3, h4, h5, h6, ul, li, span, div, p, a {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    .top-header {
        padding: 30px 0;
        
        .header-content {
            .left-bar {
                display: inline-block;
                width: 25%;
                box-sizing: border-box;

                .heading {
                    h1 {
                        font-size: 22px;
                        font-weight: 100;
                        text-transform: uppercase;
                    }
                }
            }

            .right-bar {
                display: inline-block;
                float: right;
                box-sizing: border-box;
                width: 70%;

                .top-bar {
                    padding-bottom: 40px;

                    .contact-email {
                        display: inline-block;

                        span {
                            color: #219653;
                            padding-left: 10px;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    ul {
                        display: inline-block;
                        padding-left: 11%;

                        li {
                            display: inline-block;
                            padding-left: 20px;

                            a {
                                color: #828282;
                                font-weight: bold;

                                &:hover {
                                    color: #27AE60;

                                    span {
                                        color: #27AE60; 
                                    }
                                }

                                span {
                                    font-weight: bold;
                                    color: #828282;
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }

                .down-bar {
                    .search {
                        width: 80%;
                        display: inline-block;

                        input {
                            &:first-child {
                                padding: 10px 0;
                                width: 90%;
                                border: 2px solid #6FCF97;
                                outline: none;
                            }

                            &:nth-child(2) {
                                padding: 10px 20px;
                                margin-left: -84px;
                                cursor: pointer;
                                background-color:  #F2C94C;
                                border: none;
                                outline: none;
                                transition: .3s all ease;

                                &:hover {
                                    background-color: #27AE60;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    .rug {
                        float: right;
                        display: inline-block;
                        position: relative;

                        p {
                            position: absolute;
                            top: -15px;
                            right: 0;
                            background-color: #F2C94C;
                            border-radius: 100%;
                            padding: 1px 5px;
                        }
                        
                        span {
                            font-size: 35px;
                            color: #27AE60;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .down-header {
        background-image: url(../img/header-image.svg);
        padding: 20px 0;

        .header-content {
            display: flex;
            justify-content: space-around;

            .header-block {
                text-align: center;
                padding-right: 20px;
                border-right: 1px #333333 solid;

                &:last-child {
                   border: none; 
                }

                .header-text {
                    p {
                        font-weight: bolder;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

.about-us {
    padding: 20px 0;

    .about-us-content {
        .left-bar {
            display: inline-block;
            width: 35%;


            .about-us-heading {
                width: 70%;
                padding-bottom: 20px;

                h2 {
                    font-weight: 700;
                    font-size: 34px;
                    line-height: 44px;
                }
            }

            .about-us-text {
                p {
                    padding-bottom: 20px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: #4F4F4F;
                }
            }
        }

        .right-bar {
            display: inline-block;

            .slider {
                .slide {
                    position: relative;

                    .text {
                        width: 47%;
                        background: rgba(242, 201, 76, 0.8);
                        padding: 10px 30px;
                        position: absolute;
                        top: 35%;
                        left: 5%;

                        p {
                            width: 90%;
                            font-weight: bold;
                            font-size: 28px;
                            line-height: 36px;
                            color: #333333;
                            padding-left: 10px;
                        }
                    }

                    img {

                    }
                }
            }
        }
    }
}